html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Inter + "Noto Sans JP", sans-serif;
  padding: 2vh 4.5vw;
  max-width: 1440px;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
